/* 
  WEB222 – Final Assignment
 
  I declare that this assignment is my own work in accordance with
  Seneca Academic Policy. No part of this assignment has been
  copied manually or electronically from any other source
  (including web sites) or distributed to other students.
 
 
  Name:       DEEP PATEL
  Student ID: 151376217
  Email:      dpatel425@myseneca.ca
  Section:    NEE
  Date:       12/08/2022
*/

@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
}
#contact-me {
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#home {
  background-image: url("../images/main.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#about {
  background-image: url("../images/about.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#education {
  background-image: url("../images/education.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.menu li a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(254, 254, 254);
}
.menu li {
  display: inline-block;
  padding: 20px;
  cursor: pointer;
  width: 120px;
  transition: width 0.5s;
  position: relative;
  font-family: "Aboreto", cursive;
}
.navbar {
  text-align: center;
  background-color: rgb(10, 0, 34);
  position: fixed;
  width: 100%;
}
.navbar li:hover {
  background-color: rgb(45, 36, 120);
  width: 140px;
  color: black;
}
.image {
  padding-top: 7rem;
}
.image img {
  height: 300px;
  width: 300px;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  border-radius: 50px;
  overflow: hidden;
}
.about-me {
  text-align: center;
  margin: auto;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 3rem;
}
.about-me h2 {
  font-weight: bold;
  font-size: 50px;
  color: burlywood;
  font-family: "Josefin Sans", sans-serif;
}
.about-me p {
  color: whitesmoke;
  padding-top: 1rem;
  font-size: 25px;
  font-family: "Source Serif Pro", serif;
}
.btn {
  text-align: center;
  padding-bottom: 3rem;
}
.btn button {
  margin: 10px;
  padding: 1rem 3rem;
  border-radius: 2rem;
  background-color: rgb(9, 1, 249);
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.btn button:hover {
  color: rgb(9, 232, 252);
  background-color: transparent;
}
.btn i {
  padding-right: 10px;
}

#about h1 {
  text-align: center;
  padding: 5rem;
  font-size: 5rem;
  color: antiquewhite;
  font-family: "Josefin Sans", sans-serif;
}

.sections {
  display: flex;
  margin: 0px 220px;
  padding-bottom: 5rem;
  justify-content: space-around;
}
.honesty {
  width: 550px;
  padding: 20px;
  margin-right: 5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../images/background2.jpg");
  background-size: cover;
}

.honesty p {
  padding-top: 20px;
  font-size: 1.2rem;
  font-family: "Source Serif Pro", serif;
}
.honesty p span {
  padding-right: 10px;
}
.honesty h2 {
  font-family: "Josefin Sans", sans-serif;
}
.info {
  width: 550px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-image: url("../images/background2.jpg");
  background-size: cover;
}
.info h2 {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.infocontainer {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.infocontainer li {
  list-style-type: none;
  padding: 7px;
}
.tag {
  font-weight: bold;
}
.edu {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}
.education {
  text-align: center;
  padding: 5rem;
  color: bisque;
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
}
.edu img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  padding: 20px;
}
.edu1,
.edu2 {
  background-image: url("../images/background2.jpg");
  background-size: cover;
  padding: 2rem;
  margin-bottom: 6rem;
}
.edu1 h3,
.edu2 h3 {
  font-size: 3rem;
}
.edu1 h4,
.edu2 h4 {
  font-size: 2rem;
  font-weight: lighter;
}
.edu1 p,
.edu2 p {
  font-size: 1.5rem;
}
.edu1 span,
.edu2 span {
  font-size: 1.3rem;
}
.contact {
  text-align: center;
  color: bisque;
  padding: 5rem;
  font-size: 5rem;
  font-family: "Josefin Sans", sans-serif;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.col1 {
  color: antiquewhite;
  font-size: 2rem;
  padding-left: 20rem;
  margin: 1rem;
}
.col2 {
  width: 500px;
  margin: 1rem;
}
.col2 input {
  width: 100%;
  height: 20px;
  padding: 10px;
  font-size: 1.2rem;
}
.col2 textarea {
  width: 100%;
  height: 20px;
  padding: 10px;
  font-size: 1.2rem;
}
.radio-btn {
  padding-left: 18rem;
  margin: 2rem 3rem;
  display: flex;
}
.radio-btn h4 {
  color: antiquewhite;
  font-size: 2rem;
  font-weight: lighter;
  padding-top: 2rem;
  padding-right: 24rem;
}
.radio-btn label {
  color: antiquewhite;
  padding: 2rem;
  font-size: 1.4rem;
}

.butn {
  text-align: end;
  padding: 2rem 10rem 3rem 0;
}
.butn input {
  margin: 10px;
  padding: 1rem 2rem;
  border-radius: 2rem;
  background-color: green;
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
}

.butn input:hover {
  background-color: transparent;
  color: darkorange;
}
@media (max-width: 550px) {
  .menu li a {
    font-size: 0.7rem;
  }
  .menu li {
    padding: 10px;
    width: 80px;
    transition: 0s;
  }
  .navbar li:hover {
    background-color: rgb(45, 36, 120);
    width: 80px;
    color: black;
  }
  .image img {
    height: 200px;
    width: 200px;
  }
  .about-me h2 {
    font-weight: bold;
    font-size: 2rem;
  }
  .about-me p {
    font-size: 1rem;
    justify-content: space-around;
  }
  .about {
    background-image: url("about.jpg");
    background-size: cover;
  }
  #about h1 {
    font-size: 2rem;
    padding: 3rem;
  }
  .sections {
    display: block;
    margin: 0px 2rem;
  }
  .honesty,
  .info {
    width: 100%;
    margin-top: 20px;
    padding: 5px;
  }
  .honesty p {
    font-size: 1rem;
  }
  .honesty h2 {
    text-align: center;
  }
  .tag,
  .desc {
    font-size: 0.9rem;
  }
  .infocontainer li {
    padding-right: 3px;
    padding: 5px;
  }
  .about-me {
    padding: 20px;
  }
  .btn button {
    margin: 5px;
    padding: 0.5rem 1.5rem;
    font-size: 15px;
  }
  .edu {
    display: block;
    padding: 2rem;
  }
  .edu1,
  .edu2 {
    padding: 1rem;
    margin: 1rem;
  }

  .education {
    padding: 3rem;
    color: bisque;
    font-size: 2.5rem;
  }
  .edu img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    padding: 10px;
  }
  .edu1 h3,
  .edu2 h3 {
    font-size: 2rem;
    padding: 5px;
  }
  .edu1 h4,
  .edu2 h4 {
    font-size: 1.6rem;
    font-weight: lighter;
    padding: 5px;
  }
  .edu1 p,
  .edu2 p {
    font-size: 1.2rem;
    padding: 5px;
  }
  .edu1 span,
  .edu2 span {
    font-size: 1.1rem;
    padding: 5px;
  }
  .contact {
    padding: 3rem;
    font-size: 2.5rem;
  }
  .row {
    display: block;
  }
  .col1 {
    font-size: 1.5rem;
    padding-left: 2rem;
    margin: 1rem;
  }
  .col2 {
    width: 250px;
    margin: 1rem;
    padding-left: 2rem;
  }
  .col2 input {
    height: 10px;
    font-size: 1.2rem;
  }
  .col2 textarea {
    height: 10px;
    font-size: 1.2rem;
  }
  .radio-btn {
    padding-left: 0rem;
    display: block;
  }
  .radio-btn h4 {
    color: antiquewhite;
    font-size: 1.5rem;
    font-weight: lighter;
    padding-top: 0rem;
    padding-bottom: 1rem;
  }
  .radio-btn label {
    color: antiquewhite;
    font-size: 1.4rem;
  }

  .butn {
    text-align: center;
    padding: 0;
  }
  .butn input {
    margin: 7px;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}
